# Eclipse-specific
Nandhana.V_Java_Coding_Challenge/JavaCodeChallenge/.classpath
Nandhana.V_Java_Coding_Challenge/JavaCodeChallenge/.project
Nandhana.V_Java_Coding_Challenge/JavaCodeChallenge/.settings/

# Build output
Nandhana.V_Java_Coding_Challenge/JavaCodeChallenge/bin/
Nandhana.V_Java_Coding_Challenge/JavaCodeChallenge/target/
Nandhana.V_Java_Coding_Challenge/JavaCodeChallenge/**/*.class

# Secrets
Nandhana.V_Java_Coding_Challenge/JavaCodeChallenge/db.properties

# OS junk
.DS_Store
Thumbs.db
